<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

<display-name>Test Manager</display-name>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- root IoC context -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath*:com/skoryk/**/core/beans.xml
            classpath*:com/skoryk/**/db/beans.xml
        </param-value>
    </context-param>

    <!-- web IoC context -->
    <servlet>
        <servlet-name>web</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath*:com/skoryk/**/web/**/beans.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>web</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!-- Session configuration -->
    <session-config>
        <session-timeout>60</session-timeout> <!-- 1 hour -->
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>

    <!-- Static resources -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/js/*</url-pattern>
    </servlet-mapping>
</web-app>

